# 约束
- 这是一个examples项目，在这个项目下会创建很多的example，创建的每个example都单独存放一个目录
- 每个example的目录下都需要有一个README.md文件，用于描述该example的用途、启动方式、访问方式
- 修改代码的时候，一定要考虑全局影响，不要只考虑当前文件
- 修改代码的时候，一定要考虑代码的健壮性，不要只考虑当前功能
- 修改代码的时候，一定要考虑代码的可读性，不要只考虑当前功能
- 修改代码的时候，一定要考虑代码的性能，不要只考虑当前功能
- 修改代码的时候，一定要考虑代码的稳定性，不要只考虑当前功能
- 修改代码的时候，一定要考虑代码的扩展性，不要只考虑当前功能
